	
	
	<script   src="https://code.jquery.com/jquery-3.2.1.js"   integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="   crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
	<script type="text/javascript" src="/js/index.js"></script>
	<script>
		particlesJS.load('particles-js','/particles.json',function(){
			console.log("particles.json loaded...")
		});
	</script>
</body>
</html>