<% include layouts/header.ejs %>
  
  	<div class="textZone">
		<h1>About Me</h1>
		<br>
		<p>I am a Fresh Computer Science Graduate from Ryerson University who is passionate at creating beautiful Websites. I am currently working as a freelancer creating websites for small businesses and personal profiles.</p>
		<br>
		<p>I started as a Java Developer and created a few project but my passion is on Web Development, particularly MEAN Stack. There are plenty of new and interesting Designs, animation and Frameworks that are getting created every day in this career(EXAGGERATING A LITTLE). This made me want to learn more about it.</p>
		<br>
		<p>I also have other hobbies like playing Volleyball, Basketball and going to the gym OCCASIONALLY! I also ran Tough Mudder Toronto twice. I know I am a LITTLE crazy!</p>
	</div>

			<img src="/images/hartej2.jpg" class= "aboutImg">


	</div>

	<%include layouts/footer.ejs%>