<% include layouts/header.ejs %>
   	
  	<div class="textZone">
		<h1>Contact Me</h1>
		<br>
		<p>I would love to hear from you. Please contact me via phone or email</p>
		<br>

		<h2><i class="fa fa-envelope"></i> EMAIL ME AT :<span class="info">  tejlehal13@gmail.com</span></h2>
		<h2> <i class="fa fa-phone"></i> PHONE ME AT :<span class="info">  (647) 515 3320</span></h2>

	</div>


	</div>

	

	

	<%include layouts/footer.ejs%>