<% include layouts/header.ejs %>

  	<div class="textZone">
		<h1 >Hi, I'm <span class="hartej" ">Hartej.</span></h1>
		<h1 >I am a Web Developer.</h1>
		<h2>Full Stack Developer</h2>
		<button  class="btn"><a href="/contact">Contact Me</a></button>
	</div>

	<img src="/images/Asset2.png" class= "jumbo">


	</div>

	

	
	<%include layouts/footer.ejs%>