<% include layouts/header.ejs %>
  
  	<div class="textZone">
		<h1>My Skills & Experience</h1>
		<br>
		<p>My Main area of expertise is in Front End Development.I know Back End Development as well but I am stronger with my Front End Development. I use Express, Node and Mongoose MongoDB for beck-end and HTML5, CSS3 and JavaScript for front-end.
		I create mainly small and medium size Web App</p>
		<br>
		<p>I Often Work as a Full Stack Developer. I created a Fitness Recipe Tracker App implementing MEAN Stack. MEAN Stack is my main Stack.</p>
		<br>
		<p>I am currently learning React JS to enhance my skills and to expand my knowledge in web development. </p>
		<br>
		<p>You can check my github account to check some projects I made.</p>
		<button  class="skillBtn"><a href="https://github.com/hplehal">Github</a></button>
	</div>


	</div>

	

	

	<%include layouts/footer.ejs%>